.barra_de_tareas {
  background-color: rgba(0, 0, 0, 0);
  color: $grey-800;
}

.barra_de_tareas_widget {
  margin: 10px 10px 10px 0;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $grey-600;
}

.escritorio {
  padding: 10px 18px;
  color: $grey-700;

  &:first-child {
    border-top: 4px solid $purple-light;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    color: $purple-light;
    background-color: $grey-150;
  }

  &:hover {
    color: $white;
    background-color: $purple-light;
  }
}

.bandeja-widget {
  & image {
    &:first-child {
      padding-top: 0;
    }
    padding: 16px 0;
  }

  & .popup {
    background-color: $white;
    border: 1px solid $grey-300;
    border-radius: 10px;
  }

  & menu {
    @extend .contenedor1;
    & image {
      padding: 0 10px 0 0;
    }
    & menuitem {
      padding: 10px 20px;
      background-color: $white;
      &:hover {
        background-color: $grey-200;
        color: $grey-900;
      }
    }
  }
}

.menu-de-poder-widget {
  @extend .contenedor1;

  & .indicador-menu-de-poder {
    font-size: 15pt;
  }

  & .botones {
    font-size: 20pt;

    &:last-child {
      padding-bottom: 8px;
    }
  }
}

.hora-widget {
  @extend .contenedor1;
  font-size: 14pt;
  padding: 5px 4px;
}
