.barra_de_tareas {
  color: $tope;
}

.barra_de_tareas_widget {
  background-color: $base2;
  border-left: 1px solid $tope_3;
}

.escritorio {
  padding: 10px 10px;
  color: $tope_1;

  &:first-child {
    color: $tope;
    font-weight: bold;
    background-color: $base1;
  }

  &:hover {
    color: $tope2;
    background-color: $base2;
  }
}

.bandeja-widget {
  & image {
    &:first-child {
      padding-top: 0;
    }
    padding: 16px 0;
  }

  & .popup {
    background-color: $base;
    border: 1px solid $base3;
    border-radius: 10px;
  }

  & menu {
    border-radius: 10px;

    & image {
      padding: 0 10px 0 0;
    }

    & menuitem {
      padding: 10px 20px;
      background-color: $base3;
      border-left: 1px solid $tope_3;
      border-right: 1px solid $tope_3;

      &:hover {
        background-color: $base1;
        color: $tope;
      }

      &:first-child {
        border-radius: 10px 10px 0 0;
        border-top: 1px solid $tope_3;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
        border-bottom: 1px solid $tope_3;
      }
    }
  }
}

.menu-de-poder-widget {
  @extend .contenedor1;

  & .indicador-menu-de-poder {
    font-size: 15pt;
  }

  & .botones {
    font-size: 20pt;

    &:last-child {
      padding-bottom: 8px;
    }
  }
}

.hora-widget {
  @extend .contenedor1;
  font-size: 14pt;
  padding: 5px 4px;
}
